/* .search_container {
    display: flex;
  }

.search_input {
    border: #767577 solid;
    border-radius: 5px; 
    font-size: 16px; 
    width: 300px; 
    margin-right: 10px;
    margin-left: 18px;
    padding: 8px 16px
  }

  .search_button {
    background-color: #aba1aa; 
    color: #020000; 
    font-size: 16px;
    font-weight: bold;
    border: none; 
    border-radius: 5px; 
    margin-left: 8px; 
    cursor: pointer; 
  }
  
  .search_button:hover {
    background-color: #ee5555; 
  } */

  .search_container {
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .search_input {
    width: 100%; /* Utiliza todo el ancho disponible */
    max-width: 300px; /* Ancho máximo del input */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    padding: 8px; /* Añade un poco de espacio interno */
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
  }
  
  .search_form {
    display: flex; /* Para alinear el input y el botón */
  }
  
  .search_button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    padding: 8px 16px; /* Añade un poco de espacio interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }
  
  .search_button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar sobre el botón */
  }
  
  .errorMessage {
    color: red; /* Color del mensaje de error */
    margin-top: 5px; /* Añade un poco de espacio arriba del mensaje */
  }