.nav {
  flex: 1;
  padding: 10px;
  border-right: 3px solid black;
}

.nav button {
  font-family: "Press Start 2P", system-ui;
  color: black;
  line-height: 1.2;
  padding: 10px 20px;
  font-size: 1rem;
  border: 4px solid black;
  background-color: #B8F71A;
  cursor: pointer;
  transition: all 0.3s ease; /* Añade una transición suave a todos los cambios */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al botón */
  margin: 6px 0;
  width: 100%;
}
  
.nav button:hover {
  background-color: #00AB00;
  transform: scale(1.05); /* Escala ligeramente el botón al pasar el cursor sobre él */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el cursor sobre el botón */
}

.nav button:hover {
  background-color: #79bf37dc; 
}

.select {
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  width: 100%;
  border: 3px solid black;;
}
