.nav {
  background-color: #7675776b;
  padding: 8px 16px;
  display: flex;
  justify-content: end;
}

.nav button {
  background-color: #aba1aa; 
  color: #020000; 
  font-size: 16px;
  font-weight: bold;
  border: none; 
  border-radius: 5px; 
  margin-left: 8px; 
  cursor: pointer; 
  transition: 0.2s;
  
}

.nav button:hover {
  background-color: #79bf37dc; 
}

.containerSelect {
  background-color: #76757740;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.select-container {
  margin-left: 8px; 
}

.select {
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  background-color: #aba1aa;
  border-radius: 5px;
  margin-left: 8px; 
  max-width: 100%;
  width: auto;
}
