@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box; 
}

html {
  background-color: #6C88FE;
}

body {
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}